###### Let's start with importing what we need...

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy.stats import norm
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn import datasets

###### Let's load the publicly available diabetes dataset and print out a description of the dataset

###### Your task is to build the best linear regression model you can using this data to predict the 'target' field.

#### Diabetes dataset

Ten baseline variables, age, sex, body mass index, average blood pressure, and six blood serum measurements were obtained for each of n = 442 diabetes patients, as well as the response of interest, a quantitative measure of disease progression one year after baseline.
Data Set Characteristics
Number of Instances: 442
Number of Attributes
First 10 columns are numeric predictive values
Target: Column 11 is a quantitative measure of disease progression one year after baseline
Attribute Information
 - age:     age in years <br>
  - sex:     sex <br>
  - bmi:     body mass index <br>
  - bp:      average blood pressure <br>
  - s1:      tc, total serum cholesterol <br>
  - s2:      ldl, low-density lipoproteins <br>
  - s3:      hdl, high-density lipoproteins <br>
  - s4:      tch, total cholesterol / HDL <br>
  - s5:      ltg, possibly log of serum triglycerides level <br>
  - s6:      glu, blood sugar level <br>
Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times n_samples (i.e. the sum of squares of each column totals 1).
Source URL
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html
For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499. (https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)


Source URL: https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html
Data URL: https://www4.stat.ncsu.edu/~boos/var.select/diabetes.tab.txt
Note: The Data URL mentioned-above is obtained from the source URL. The source URL provides detailed information about the dataset, variables and also reference links including the dataset link.

##### Read in data into a dataframe then print the dataframe head.

In [2]:
 #Use this URL to read in the data into a pandas dataframe called "df".
#Hint: set sep="\t" when reading in the csv file. 
# YOUR CODE HERE
import pandas as pd

url="https://www4.stat.ncsu.edu/~boos/var.select/diabetes.tab.txt"
df=pd.read_csv(url,sep = '\t',engine = 'python')
df.head(5)

   AGE  SEX   BMI     BP   S1     S2    S3   S4      S5  S6    Y
0   59    2  32.1  101.0  157   93.2  38.0  4.0  4.8598  87  151
1   48    1  21.6   87.0  183  103.2  70.0  3.0  3.8918  69   75
2   72    2  30.5   93.0  156   93.6  41.0  4.0  4.6728  85  141
3   24    1  25.3   84.0  198  131.4  40.0  5.0  4.8903  89  206
4   50    1  23.0  101.0  192  125.4  52.0  4.0  4.2905  80  135

###### Basic field information

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     442 non-null    int64
 1   SEX     442 non-null    category
 2   BMI     442 non-null    float64
 3   BP      442 non-null    float64
 4   S1      442 non-null    int64
 5   S2      442 non-null    float64
 6   S3      442 non-null    float64
 7   S4      442 non-null    float64
 8   S5      442 non-null    float64
 9   S6      442 non-null    int64
 10  Y       442 non-null    int64
dtypes: category(1), float64(6), int64(4)
memory usage: 35.2 KB

###### Convert sex to a categorical variable

In [3]:
# YOUR CODE HERE
categorical_variable=['SEX']
df[categorical_variable]=df[categorical_variable].astype('category')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     442 non-null    int64
 1   SEX     442 non-null    category
 2   BMI     442 non-null    float64
 3   BP      442 non-null    float64
 4   S1      442 non-null    int64
 5   S2      442 non-null    float64
 6   S3      442 non-null    float64
 7   S4      442 non-null    float64
 8   S5      442 non-null    float64
 9   S6      442 non-null    int64
 10  Y       442 non-null    int64
dtypes: category(1), float64(6), int64(4)
memory usage: 35.2 KB

###### Next, examine the dataframe

In [6]:
#Use Panda's describe function to peak into the dataframe.
# be sure to include the parameter include= "all" to grab the 
# columns where the statistic is Inappropriate for the datatype. 
# set the output to "dfDescription' so the result can be printed"
# YOUR CODE HERE
dfDescription = df.describe(include='all')
#raise NotImplementedError()
print (dfDescription)

               AGE    SEX         BMI          BP          S1          S2  \
count   442.000000  442.0  442.000000  442.000000  442.000000  442.000000
unique         NaN    2.0         NaN         NaN         NaN         NaN
top            NaN    1.0         NaN         NaN         NaN         NaN
freq           NaN  235.0         NaN         NaN         NaN         NaN
mean     48.518100    NaN   26.375792   94.647014  189.140271  115.439140
std      13.109028    NaN    4.418122   13.831283   34.608052   30.413081
min      19.000000    NaN   18.000000   62.000000   97.000000   41.600000
25%      38.250000    NaN   23.200000   84.000000  164.250000   96.050000
50%      50.000000    NaN   25.700000   93.000000  186.000000  113.000000
75%      59.000000    NaN   29.275000  105.000000  209.750000  134.500000
max      79.000000    NaN   42.200000  133.000000  301.000000  242.400000

                S3          S4          S5          S6           Y
count   442.000000  442.000000  442.000000  442.000000  442.000000
unique         NaN         NaN         NaN         NaN         NaN
top            NaN         NaN         NaN         NaN         NaN
freq           NaN         NaN         NaN         NaN         NaN
mean     49.788462    4.070249    4.641411   91.260181  152.133484
std      12.934202    1.290450    0.522391   11.496335   77.093005
min      22.000000    2.000000    3.258100   58.000000   25.000000
25%      40.250000    3.000000    4.276700   83.250000   87.000000
50%      48.000000    4.000000    4.620050   91.000000  140.500000
75%      57.750000    5.000000    4.997200   98.000000  211.500000
max      99.000000    9.090000    6.107000  124.000000  346.000000

###### Split dataframe into train and test subsets

In [7]:
# Use train_test_split() to split the train and test sets.
# Set test_size to 0.3
# Set random_state to 42
# The train and tests sets need to be called "df_train" and "df_test".
# YOUR CODE HERE
df_train, df_test = train_test_split(df, test_size=0.3,random_state=42)
df_train.shape
df_test.shape

(133, 11)

###### Fit Multilinear OLS regression model using training dataset and save the result in 'est_train' variable. 
Print model summary

In [9]:
# YOUR CODE HERE
est_train = ols(formula="Y ~ AGE+SEX+BMI+S1+S2+S3+S4+S5+S6", data=df_train).fit()
print(est_train.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.485
Model:                            OLS   Adj. R-squared:                  0.469
Method:                 Least Squares   F-statistic:                     31.23
Date:                Mon, 15 Jan 2024   Prob (F-statistic):           2.82e-38
Time:                        17:26:37   Log-Likelihood:                -1683.9
No. Observations:                 309   AIC:                             3388.
Df Residuals:                     299   BIC:                             3425.
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -295.5125     81.152     -3.641      0.000    -455.214    -135.811
SEX[T.2]     -19.2424      7.165     -2.686      0.008     -33.342      -5.143
AGE            0.3292      0.277      1.190      0.235      -0.215       0.874
BMI            7.0236      0.880      7.982      0.000       5.292       8.755
S1            -1.0185      0.684     -1.490      0.137      -2.364       0.327
S2             0.6502      0.627      1.037      0.301      -0.584       1.884
S3             0.2161      0.939      0.230      0.818      -1.631       2.063
S4             6.2244      7.485      0.832      0.406      -8.505      20.954
S5            62.8168     19.689      3.190      0.002      24.070     101.564
S6             0.4825      0.337      1.430      0.154      -0.181       1.146
==============================================================================
Omnibus:                        3.115   Durbin-Watson:                   1.814
Prob(Omnibus):                  0.211   Jarque-Bera (JB):                2.547
Skew:                           0.105   Prob(JB):                        0.280
Kurtosis:                       2.608   Cond. No.                     6.51e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.51e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

###### Extract non significant coef (p< .05: SEX + BMI + S3 + S5), rerun model.

In [10]:
# YOUR CODE HERE
est_train = ols(formula="Y ~ SEX+BMI+S3+S5", data=df_train).fit()
print(est_train.params)

Intercept   -176.648928
SEX[T.2]     -17.185273
BMI            7.377660
S3            -1.065873
S5            41.824183
dtype: float64

###### How well does it do on the test data? Lets use the model we trained on the training data to make predictions on the test data and then measure the R^2

In [11]:
# Set the r2 results to "r2"
# YOUR CODE HERE
test_pred = est_train.predict(df_test)
r2=r2_score(df_test['Y'],test_pred)
print('OOS R-squared: '+ str(r2))

OOS R-squared: 0.48511853284845063